{% extends 'base.html.twig' %}

{% block title %}La liste des Continents :
{% endblock %}
{% block titre %}<h1>La Liste des continents</h1>{% endblock %}
{% block body %}
	{% for continent in continents %}
		<div>
			<a href="{{path("continent-show",{"id": continent.id})}}"class='text-danger'>{{continent.name}}</a>
			<p>{{continent.description}}</p>
		</div>
	{% endfor %}
{% endblock %}
