{% extends 'base.html.twig' %}

{% block title %}Liste des animaux{% endblock %}

{% block body %}
{% for animal in animaux %}
<div>
  <a class='text-danger' href="{{path("animal-show",{id: animal.id})}}"><strong>{{animal.name}}</strong></a>
  <p>{{animal.description}}</p>
</div>
  
{% endfor %}

{% endblock %}
