{% extends 'base.html.twig' %}

{% block title %}Liste des animaux{% endblock %}

{% block body %}
{% for animal in animaux %}
<div>
  <p class='text-danger'><strong>{{animal.name}}</strong></p>
  <p>{{animal.description}}</p>
</div>
  
{% endfor %}

{% endblock %}
